.item > a {
  display: block;
}

.error {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 160px;
  text-align: center;

  font: normal 500 var(--font-text);
  color: var(--color-default-secondary);
}
