.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-background-secondary);
  color: var(--color-default-primary);
  transition: var(--transition-color);
}

.button_rounded {
  border-radius: 50%;
}

.button_sorted {
  color: var(--color-active-primary);
}

.button:hover {
  color: var(--color-active-secondary);
}
