.radio {
  width: 100%;
}

/* Radio Button */
.button {
  display: flex;
  align-items: center;
  padding: 18px 0;
}

.button__input {
  cursor: pointer;
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.button__label {
  cursor: pointer;
  font: var(--typography-headline-medium);
  color: var(--color-text-primary);
}
