@import "./styles/_typography.css";
@import "./styles/_colors.css";
@import "./styles/_behavior.css";
@import "./styles/reset.css";

html {
  font-size: 10px; /*for using REM units*/
}

body {
  background-color: var(--color-background-primary);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-primary);
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-primary);
}

html,
body {
  height: 100%;
}

#root {
  isolation: isolate;
  height: 100%;
}
